<% wrap_layout :base do %>
    <div id="page">
      <%= partial 'header' %>
      <div id="main">
        <div id="content-wrapper">
          <div id="content">
            <h1><%= current_page.data.title %></h1>
            <%= render_markdown current_page.data.excerpt  %>
            <%= yield %>
          </div>
        </div>
        <div id="sidebar-wrapper">
          <div id="sidebar">
            <%= partial 'sidebar' %>
          </div>
        </div>
      </div>
      <%= partial 'footer' %>
    </div>
<% end %>
