<article class="<%= locals[:first] ? 'first ' : '' %>entry" id="<%= meeting.data.title.parameterize %>">
  <h1><%= link_to meeting.data.title, meeting %></h1>
  <%= show_sponsors meeting %>
  <%= meeting.render(layout: false, auto_id_prefix: "#{meeting.data.title.parameterize}--") %>
  <p class="info">Posted by <%= meeting.data.created_by.name %> on <%= date_format meeting.data.published_at, "%b %d, %Y" %></p>
</article>
