<div class="<%= locals[:first] ? 'first ' : '' %>entry" id="<%= meeting.data.title.parameterize %>">
  <h2><%= link_to meeting.data.title, meeting %></h2>
  <%= show_sponsors meeting %>
  <%= meeting.render(layout: false, auto_ids: locals[:skip_auto_ids].nil?) %>
  <p class="info">Posted by <%= meeting.data.created_by.name %> on <%= date_format meeting.data.published_at, "%b %d, %Y" %></p>
</div>
