<header id="header">
  <div id="site-title">
    <%= link_to image_tag('https://assets.lrug.org/images/el-rug-logo.svg', alt: 'El Rug Logo', width: 66, height: 66), '/', class: 'header__branding' %>

    <h1><%= link_to 'LRUG', '/' %> : London <span class="ruby"><%= link_to 'Ruby', 'http://www.ruby-lang.org/en/' %></span> User Group</h1>
  </div>

  <div class="readme-announcement">
    <p>Check out our <%= link_to 'README', 'http://readme.lrug.org/' %> to find out about us and our <%= link_to 'Code of Conduct', 'http://readme.lrug.org/#code-of-conduct' %>.</p>
  </div>
</header>
