<div id="header">
  <div id="site-title">
    <%= link_to 'LRUG', '/' %> :
    london <span class="ruby"><%= link_to 'ruby', 'http://www.ruby-lang.org/en/' %></span> user group

    <%= link_to image_tag('https://assets.lrug.org/images/el-rug-sidebar.png', alt: 'El Rug Logo', width: 65, height: 66), '/', class: 'header__branding' %>
  </div>

  <div class="readme-announcement">
    <p>Check out our <%= link_to 'README', 'http://readme.lrug.org/' %> to find out about us and our <%= link_to 'Code of Conduct', 'http://readme.lrug.org/#code-of-conduct' %>.</p>
  </div>
</div>
